{% extends 'base.html.twig' %}

{% block title %}Users list {% endblock %}

{% block body %}
    <h1 class="page-header text-center">
        Users List
    </h1>

    {% set no = 1 %}

    <table width="100%" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover table-condensed dt">
        <thead>
        <tr>
            <th>{{'Id'|trans({}, 'fields')}}</th>
            <th>{{'Email'|trans({}, 'fields')}}</th>
            <th>{{'Username'|trans({}, 'fields')}}</th>
            <th>{{'Name'|trans({}, 'fields')}}</th>
            <th>{{'Surname'|trans({}, 'fields')}}</th>
        </tr>
        </thead>

        <tbody>
        {% for user in user_list %}
            <tr>
                <td>{{ no }}</td>
                {% set no = no + 1 %}

                {#<td><a href="{{ path('book_show', {'entityId': book.id}) }}">{{ book.title }}</a></td>#}
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>
                    {% if is_granted('ROLE_USER') %}
                        <div class="btn-toolbar nomargin">
                            <div class="btn-group">
                                <a data-toggle="modal-ajax"
                                   data-title="{{'Edit User'|trans({}, 'default')}}"
                                   data-callback="reloadTab"
                                   data-target="#invModal"
                                   href="{{ path('user_edit', {'id': user.id}) }}"
                                   class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a data-record="{{ user.id }}"
                                   data-msg="{{ user.email }}"
                                   href="{{ path('user_delete', {'entityId': user.id}) }}"
                                   data-callback="reloadTab"
                                   class="btn btn-default btn-xs delete"
                                   onclick="return confirm('Are you sure you want to delete this user?')"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}