{% extends 'base.html.twig' %}

{% block title %}Book list {% endblock %}

{% block body %}
    <h2 class="book-name"></h2>
    <div class="book-container">
        <div class="book-photo"></div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="book-details">
                        <dl class="book-details-list">
                            {% for book in book_list %}
                                <tr>
                                    <dt>Title</dt>
                                    <td>{{ book.title }}</td>
                                    <dt>Author</dt>
                                    <td>{{ book.author }}</td>
                                    <dt>Release year</dt>
                                    <td>{{ book.releaseYear|date }}</td>
                                    <dt>Publisher</dt>
                                    <td>{{ book.publisher }}</td>
                                    <dt>Genre</dt>
                                    <td>{{ book.genre }}</td>
                                    <dt>Language</dt>
                                    <td>{{ book.language }}</td>
                                    <dt>ISBN</dt>
                                    <td>{{ book.iSBN }}</td>
                                    <dt>Pages number</dt>
                                    <td>{{ book.pagesNumber }}</td>
                                    <dt>Rating</dt>
                                    <td>{{ book.rating }}</td>
                                </tr>
                        </dl>
                    </div>
                </div>
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Description</div>
                    <div class="panel-body">{{ book.description }}</div>
                </div>
            </div>
            {% endfor %}
            <div class="col-sm-2"></div>
        </div>
    </div>

{% endblock %}
