{% extends 'base.html.twig' %}

{% block title %}New Book {% endblock %}

{% block body %}

    <h1 class="page-header text-center">
        Book
    </h1>

    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">

            {{ form_start(form) }}
            {{ form_widget(form) }}

                <div class="form-group">
                    <div class="col-sm-10">
                        <div class="dropzone"></div>
                    </div>
                </div>
                <div class="fixed-wrapper">
                    <input type="submit" class="btn btn-block btn-primary" value="Save" />
                    <a href="{{ path('book_list') }}">Cancel</a>
                </div>

                {#{{ form_row(form.upload_book) }}#}
            {{ form_end(form) }}
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script>

        Dropzone.autoDiscover = false;
        const dropzone_default = new Dropzone(".dropzone", {
            url: '{{ path('fileuploadhandler') }}' ,
            maxFiles: 1,
            dictMaxFilesExceeded: 'Only 1 Image can be uploaded',
            acceptedFiles: 'image/*, application/*',
            maxFilesize: 30,  // in Mb
            addRemoveLinks: true,
            init: function () {
                this.on("maxfilesexceeded", function(file) {
                    this.removeFile(file);
                });
                this.on("sending", function(file, xhr, formData) {
                });
                this.on("success", function(file, response) {
                    if (response.uploaded)
                        alert('File Uploaded: ' + response.fileName);
                });
            }
        });
    </script>
{% endblock javascripts %}