{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Register!</h1>
                    {{ form_start(form) }}
                        {{ form_row(form.username) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.surname) }}
                        {{ form_row(form.plainPassword.first, {
                            'label': 'Password'
                        }) }}
                        {{ form_row(form.plainPassword.second, {
                            'label': 'Repeat Password'
                        }) }}
                {#{% block form_label %}#}
                    {#{% spaceless %}#}
                        {#<label><a href=""</label>#}

                {#{{ form_row(form.terms, {#}
                    {#'label' : "I accept copyright" <a href="{{ path('terms') }}">"terms and conditions"</a>#}
                {#}) }}#}
                <span style="display:inline-block">
                    {{ form_row(form.terms) }}
                </span>
                <span style="display:inline-block">
                    <a href="{{ path('terms') }}">terms and conditions</a>
                </span>
                <br>
                {#formnovalidate#}
                <button type="submit" class="btn btn-primary">Register</button>
                {{ form_end(form) }}

                    {#{{ flash }}#}

            </div>
        </div>
    </div>

{% endblock %}