<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Online Library!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/dropzone/dist/min/dropzone.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
            {#<link rel="stylesheet" type="text/css" href="{{ asset('https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css') }}" />#}
            {#<link rel="stylesheet" href="{{ asset('https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')}}">#}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        {#<div class="search-bar">#}
            {#<form method="GET" action="" class="js-sea-search sea-search">#}
                {#<input type="search" name="q" placeholder="Search Books" autocomplete="off" class="search-input">#}
            {#</form>#}
        {#</div>#}
        <header class="header">
            <img class="logo-icon" src="{{ asset('images/lib.png') }}">
            <h1 class="logo">Online Library</h1>
            <ul class="navi">
                <div style="margin-right: 10px">
                    <li>Welcome {{ app.user ? app.user.username : 'Guest'  }}!</li>
                </div>
                {#<li class="search"><a href="#" class="js-header-search-toggle"><i class="fa fa-search"></i></a></li>#}
                {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('user_logout') }}">Logout</a></li>
                {% else %}
                    {#<li><a href="{{ path('user_register') }}">Sign up</a></li>#}
                    <li><a href="{{ path('user_login') }}">Login/Sign up</a></li>
                {% endif %}
            </ul>
        </header>

        {#{{ form_start(form, {#}
            {#'attr': {'class': 'navbar-form navbar-right', 'action': path('handleSearch', {'id': '1'})}#}
        {#}) }}#}

        {#{{ form_widget(form.search, {#}
            {#'attr': {'class': 'form-control search-query'}#}
        {#}) }}#}

        {#{{ knp_menu_render('AppBundle:Builder:mainMenu') }}#}

        <div class="topnav" id="myTopnav">
            <a class="active" href="{{ path('home') }}">Home</a>
            <a href="{{ path('book_list') }}">Books List</a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('user_list') }}">Users List</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
            <a href="{{ path('change_pw') }}">Change password</a>
            {% endif %}
            {#<a href="{{ path('files_list') }}">Files List</a>#}
            {{ render(controller(
                'AppBundle:Default:searchBar'
            )) }}
        </div>

        {#<div>#}
            {#<a href="{{ path('books_sort') }}">Sort</a>#}
        {#</div>#}

        <div class="main-content">
            {% block body %}{% endblock %}
        </div>

        <div class="footer">
            <p class="footer-text">robciun@gmail.com</p>
        </div>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery/src/jquery.js') }}"></script>
            {#<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>#}
            <script src="{{ asset('js/main.js') }}"></script>
            <script src="{{ asset('assets/vendor/dropzone/dist/min/dropzone.min.js') }}"></script>
            {#<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>#}
            <script src="{{ asset('bundles/sideclickbootstrapmodal/js/sideclick-bootstrap-modal.js') }}"></script>
        {% endblock %}
    </body>
</html>
